
html,body{
	margin:0;
	padding:0
}

body{
	color:#fff;
	font-size:11pt;
	font-family:Verdana,Helvetica,Arial,sans-serif;
	background:#84FF7B url("http://i.imgur.com/kx70ear.jpg") no-repeat fixed left bottom
}

.mainmenufooter {
	position: absolute;
	bottom: 15px;
	left: 20px;
	color: #BBBBBB;
}
.mainmenufooter small {
	font-size: 9pt;
}
.mainmenufooter a {
	text-decoration: underline;
	color: #6688CC;
	text-shadow: 0 -1px 0 black;
}
.mainmenufooter a:hover {
	text-decoration: underline;
	color: #48FF9D;
}

.pmbox {
	width: 270px;
	margin: 0 auto;
	min-height: 2px;
}
.pm-window {
	margin-bottom: 12px;
}
.pm-window h3 {
	background: rgba(248,248,248,.8);
	color: #777777;
	margin: 0;
	padding: 2px 5px;
	font-size: 11pt;
	border: 1px solid #FF4446;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
}
.pm-window h3:hover {
	color: #333333;
}
.pm-window h3 .closebutton {
	float: right;
}
.pm-window h3 small {
	color: #888888;
	font-weight: normal;
	vertical-align: 1px;
}
.pm-log {
	min-height: 100px;
	max-height: 300px;
	background: rgba(242,247,250,.925);
	color: black;
	word-wrap: break-word;
	border: 1px solid #AAAAAA;
	border-top: 0;
	border-bottom: 0;

	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.pm-log-add {
	border: 1px solid #AAAAAA;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: rgba(242,247,250,.85);
}
.pm-window.collapsed .pm-log,
.pm-window.collapsed .pm-log-add {
	display: none;
}
.pm-window.focused h3,
.pm-window.focused .pm-log,
.pm-window.focused .pm-log-add {
	border-color: #555555;
}
.pm-window.focused h3,
.pm-window.focused h3:hover {
	background: #f8f8f8;
	color: #222222;
	cursor: default;
	}